<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div class="container-fluid p-4" style="height: 300px">
  <h1 class="text-center mb-5">TOUS LES USERS</h1>
  <div class="row justify-content-around align-items-center">
    <% @user.each do |user| %>
      <div class="col-md-3">
        <div class="card text-center m-2">
          <div class="card-header">
            <%= link_to "#{user.first_name} #{user.id}", user_path(user.id), class: "nav-link" %>
          </div>
          <div class="card-body">
            <p class="card-text"><%= user.last_name %></p>
            <p class="card-text">Description vide ...<%= user.desc %></p>
            <p class="card-text"> Adresse mail : <br /><%= user.email %></p>
            <p class="card-text"> Age : <%= user.age %></p>
            <p class="card-text"> Ville : <%= link_to "#{user.city.name}", cities_path %> </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>