<html>
<body>

<div class="container-fluid p-4" style="height: 300px">
  <h1 class="text-center mb-5"> </h1>
  <div class="row justify-content-around align-items-center">
    <div class="col-md-3">
      <div class="card text-center m-2">
        <div class="card-header">
          <h3> <%=  @gossip.title %> </h3>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= form_for @gossip, url: {action: 'update'}, html: {class:"card-text"} do |f|%>

              <%= f.text_field :title %>

              <%= f.text_area  :content %>

              <%= submit_tag "Modify_Gossip" %>

            <% end %>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>





</body>
</html>