<p>City_id -> <%= @cities.id %></p>


<div class="container-fluid p-4" style="height: 300px">
  <h1 class="text-center mb-5"> <%= @cities.name %> </h1>
  <div class="row justify-content-around align-items-center">
    <% @gosspis_city.each do |city_gossips|  %>
      <div class="col-md-3">
        <div class="card text-center m-2">
          <div class="card-header">
            <%=  link_to "#{city_gossips.title}", gossip_path(city_gossips.id) %>

          </div>
          <div class="card-body">
            <p class="card-text"><%= city_gossips.content %></p>
            <p class="card-text"><%= city_gossips.user.first_name %></p>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

