<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

     
  </head>

      
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Gossip Projet", root_path , class: "btn btn-outline-dark" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
     <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active">
         <%= link_to "Sign-In", new_user_path, class: 'btn btn-link' %>
       </li>
      <li>
         <%= link_to "User", users_path, class: "btn btn-link" %>
      </li>
     <li>
         <%= link_to "Connexion", new_session_path, class: "btn btn-primary" %>
     </li>
       <%= link_to "Se déconnecter", session_path(session.id), method: :delete, class: "nav-link", class: "btn btn-danger"  %>
       </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/team">L'équipe</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/contact">Contact</a>-->
<!--        </li>-->

      </ul>
    
  </div>
</nav>
    <p class="text-center">SESSION EN COURS : <%= session[:user_id] %></p>

  <%= yield %>
<!--<footer class="fixed-bottom">-->
  
<!--<nav style="margin-top: 15px" class="navbar fixed-bottom navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="https://github.com/axaidan/TGP_2.git">GitHub Axel Aidan</a>-->
<!--</nav>-->
<!--</footer>-->
  </div>

  </body>
</html>
